[pylint]
# It's important to have these on one line. Otherwise the extension bugs out and stops considering TODO & FIXME as problems
disable=
    logging-fstring-interpolation,
    broad-exception-caught,
    broad-exception-raised,
    protected-access,
    invalid-name
